.star {
    cursor: pointer;
    height: 25px;
    width: 25px;
    margin: 4px;
    float: left;
    background-color: rgba(235, 232, 232, 0.938);
    clip-path: polygon(
    50% 0%,
    63% 38%,
    100% 38%,
    69% 59%,
    82% 100%,
    50% 75%,
    18% 100%,
    31% 59%,
    0% 38%,
    37% 38%
    );
    }
    .star.selected {
    background-color: rgba(53, 235, 8, 0.938);
    }